<form method="post" action="{{ path('app_market_mahdi_delete', {'id': market.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ market.id) }}">
    <button class="btn">Delete</button>
</form>
