{% extends 'base.html.twig' %}

{% block title %}Edit Market{% endblock %}

{% block body %}
    <h1>Edit Market</h1>

    {{ include('market_mahdi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_market_mahdi_index') }}">back to list</a>

    {{ include('market_mahdi/_delete_form.html.twig') }}
{% endblock %}
